[package]
name = "deno_npm"
version = "0.3.0"
edition = "2021"
description = "npm registry client and dependency resolver used in the Deno CLI"
homepage = "https://deno.land/"
repository = "https://github.com/denoland/deno_npm"
documentation = "https://docs.rs/deno_npm"
authors = ["the Deno authors"]
license = "MIT"

[dependencies]
anyhow = "1.0.70"
async-trait = "0.1.68"
deno_semver = "0.2.1"
monch = "0.4.1"
log = "0.4"
once_cell = "1.17.1"
serde = { version = "1.0.130", features = ["derive", "rc"] }
thiserror = "1.0.24"
parking_lot = "0.12.1"
futures = "0.3.28"

[dev-dependencies]
pretty_assertions = "1.0.0"
serde_json = { version = "1.0.67", features = ["preserve_order"] }
tokio = { version = "1.27.0", features = ["full"] }
